	<div class="layer modify-email-layer" id="modify-email-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">修改邮箱</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div class="tip-wrap" style="">
				<span class="tips info hide" data-id="tip">
					<span class="icon"></span>
					<span class="text"></span>
				</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">当前邮箱：</span></span>
				<span class="text-block" title="<%= viewBag.mail %>"><%= viewBag.mail %></span>
			</div> 
			<div class="data-item">
				<span class="label">
					<span class="text">登录密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="登录密码" class="input-box" data-id="login-password">		
			</div>
			<div class="data-item">     
				<span class="label">
					<span class="text">新邮箱：</span>
				</span>
				<input type="text" maxLength="18" data-label="邮箱" data-reg="^\S+@\S+\.\S+$" class="input-box" data-id="confirm-email">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text"></span>
				</span>
				<span class="text-block">
					<span class="tip">
						<span class="text">非DMS账户可通过邮箱找回密码，请输入正确邮箱地址</span>
					</span>
				</span>
			</div>
			<div class="layer-operation">
				<a class="btn" data-id="submit" href="javascript:;">确认修改</a>
				<a class="btn secondary" data-id="cancel" href="javascript:;">取消</a>
			</div>
		</div>
	</div>