	<div class="layer modify-password-layer" id="modify-password-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">修改密码</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div class="tip-wrap" style="">
				<span class="tips info hide" data-id="tip">
					<span class="icon"></span>
					<span class="text">密码使用周期较长，请重新设置密码</span>
				</span>
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">旧密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="旧密码" data-reg="^.{6,18}$" data-message="请输入6-18位的旧密码" class="input-box" data-id="old-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">新密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="新密码" data-reg="^(?![a-zA-Z]+$)(?!\d+$)[a-zA-Z\d]{6,18}$" data-message="密码为6-18位,仅能使用字母加数字" class="input-box" data-id="new-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">确认密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="确认密码" class="input-box" data-id="confirm-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text"></span>
				</span>
				<span class="text-block">
					<span class="tip">
						<span class="text">密码为6-18位字母和数字组合</span>
					</span>
				</span>
			</div>
			<div class="layer-operation">
				<a class="btn" data-id="submit" href="javascript:;">确认修改</a>
				<a class="btn secondary" data-id="cancel" href="javascript:;">取消</a>
			</div>
		</div>
	</div>