<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <title>404未找到_北汽电子配件目录信息管理系统</title>
  <% if (viewBag.isLocal) { %>
  <link type="text/css" rel="stylesheet" href="/styles/error.css?v=<%= viewBag.releaseVersion %>"/>
  <% } else { %>
  <link type="text/css" rel="stylesheet" href="/release/styles/error.min.css?v=<%= viewBag.releaseVersion %>"/>
  <% } %>
</head>
<body>
<div class="wrapper">
  <div class="header clearfix">
    <div class="page-related">
      EPC电子配件目录
    </div>
    <div class="arrow"></div>
  </div>
  <div class="content">
    <div class="logo_nav">
      <span class="logo"></span>
    </div>
    <div class="detail">
      <span class="error-icon-one"></span>

      <div class="error-text">
        <span>抱歉，您访问的页面不存在！</span>
      </div>
      <div class="option-text">
        <span>您可以返回<a href="/epc/catalog" class="text-link">首页</a>或者去<a href="javascript:;" class="text-link" onclick="window.history.back()">上一页</a></span>
      </div>
    </div>
  </div>
</div>
</body>
</html>