<%
  viewBag.pageCode = 'pwdInfo';
  viewBag.cssFiles = ['pwd_info'];
  viewBag.releaseCss = 'pwd_info.min';
  viewBag.pageTitle = '找回密码';
%>
<% include ../common/head.ejs %>

<div class="container">
    <div class="header">
        <div class="flag-title">
            <span class="text-center">EPC电子配件目录</span>
            <span class="text-after"></span>
        </div>
        <div class="center">
            <div class="website-title">
                <span class="web-title-text" title="北京汽车"></span>
            </div>
            <div class="menu clearfix">
                <ul class="list">
                    <li>
                        <span>
                            已有帐户,马上
                            <a href="../login" class="wrap-line">登录</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div id="body_pwdinfo" class="body">
        <div class="banner">
            <div class="content">
                <p class="c-title">找回密码</p>
                <div class="c-content">
                    <p class="username-wrapper">
                        <input type="text" name="username" class="input-box c-input-text" placeholder="请输入用户名"></p>
                    <p class="c-btn">
                        <a href="javascript:;" class="btn-download" data-action="submit">下一步</a>
                    </p>
                    <p class="c-last-version">
                        <span>请注意：如果您是DMS系统的用户，请在DMS系统内找回密码，谢谢！</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.ejs %>