<%
	viewBag.pageCode = 'info_error';
	viewBag.cssFiles = ['pwd_info'];
	viewBag.releaseCss = 'pwd_info.min';
	viewBag.pageTitle = '找回密码_链接过期';
%>
<% include ../common/head.ejs %>

<div class="container">
	<div class="header">
		<div class="flag-title">
			<span class="text-center">EPC电子配件目录</span>
			<span class="text-after"></span>
		</div>
		<div class="center">
			<div class="website-title">
				<span class="web-title-text" title="北京汽车"></span>
			</div>
			<div class="menu clearfix">
				<ul class="list">
					<li>
						<span>
							已有帐户,马上<a href="../login" class="wrap-line">登录</a>
						</span>
					</li>
				</ul>
			</div>
		</div>

	</div>
	<div id="body_pwdinfo" class="body">
		<div class="banner">
			<div class="content">
				<p class="c-title">找回密码</p>
				<div class="error-content">
					<span class="icon"></span>
					<span class="text">对不起，由于该修改密码的链接已过期，所以不能再使用了！</span>
				</div>

			</div>
		</div>
	</div>
</div>
<% include ../common/footer.ejs %>